* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
    background-color: black;
}


  .header{
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 100px;
	margin-right: 100px;
	border-bottom: 1px solid white;
	width: calc(100% - 200px);
	padding-top: 40px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(10px);
   
  }
  header .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 3em;
}

  .toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
   
}





  .back{
    position: fixed;
    left: 5px;
    top:5px;
    width: 40px;
    height: 40px;
    background-image: url("output-onlinepngtools.png");
    background-size: 40px 40px;
    background-color: #22160B;
  
    
  }
  .about-us{
 
    /* background-image: url("../poz.jpg");
    background-color: black;  */
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('../pozadinica.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

     
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    text-align: center;
    padding-top: 130px;
    color: white;
    background-color: black;
    height: 100vh;
     
  }
  
  .btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
 
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
    z-index: 1;
}

.btn:hover {
	transform: scale(0.98);
}





/* footer */


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #22160B;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}





/* meni */



.menu
{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.menu ul
{
  position: fixed;
 
}
.menu ul li
{
  list-style: none;
 
}
.menu ul li a
{
  text-decoration: none;
  font-size: 30px;
   color: white; !important
 
}
.menu ul li a:hover
{
  color: #1d1102dc; 
 
} 
 
.chr{
  visibility: hidden;
 
}
.chr.active{
  visibility: visible;
 
}
/* =================== */






.manu.active{
	right: 300px;
	z-index: 1;
  }
  
  
  
.footer.active{
  margin-right: 300px;
  }

.about-us.active{
	margin-right: 300px;
}


  



/*responsive*/
@media(max-width: 1100px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
	
	.menu ul li a{
	text-decoration: none;
	font-size: 50px;
		color: white;
	}

	.footer.active{
		margin-right: 600px;
	}
	.about-us.active{
		margin-right: 600px;
	}





}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}